button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  align-self: center;
}

.form-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
}

.form-element {
  width: 80%;
}

form {
  display: flex;
  flex-direction: column;
}
